/*******************************/
/******** GLOBAL LAYOUT ********/
body {
  font-family: sans-serif;
  padding-top: 8vh;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.jumbo1 {
  background-image: url('https://www.apple.com/v/home/s/images/heroes/iphone-12/iphone_12_us__fo0stbby242m_large.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*************************/
/******** NAV BAR ********/
#nav-bar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: rgba(58, 58, 58, 0.873);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.504);
  z-index: 8;
}

#nav-bar > a > h1 {
  float: left;
  color: white;
  position: fixed;
  margin-top: 0.8vh;
  margin-left: 2vw;
  font-size: 5vh;
  letter-spacing: 8px;
}

#nav-bar > nav > div > a {
  color: lightgray;
  margin-top: 3.5vh;
  font-size: 2.2vh;
  font-weight: lighter;
}

#nav-bar > nav > div > a:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#nav-bar > nav {
  width: 100vw;
}

#nav-bar > nav > div {
  float: right;
  height: 9vh;
  margin: auto;
}
/*************************/
/******** AUTH FORM ********/
.form-wrapper {
  padding-top: 25vh;
  width: 50vw;
  margin: 0 auto;
}

.form-wrapper > h2 {
  text-align: center;
  color: rgb(180, 180, 180);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.auth-form > div {
  display: block;
  text-align: center;
}

/* .auth-form > div > label{
  font-size: 2vh;
  text-align: right;
} */

.auth-form > div > input {
  width: 80%;
  height: 4vh;
  font-size: 2vh;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 8px;
  padding-left: 12px;
  color: rgb(58, 58, 58);
  font-family: sans-serif;
  font-weight: lighter;
}

.auth-form > div > input::placeholder {
  font-weight: lighter;
  font-family: sans-serif;
}

.auth-button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: white;
  background-color: rgba(180, 180, 180, 0.873);
  border-radius: 8px;
  outline: none;
  border: none;
  text-align: center;
}

.auth-button:hover {
  background-color: rgb(125, 125, 125);
}

.auth-button:active {
  width: 96px;
  height: 28px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgba(180, 180, 180, 0.873);
  border-radius: 8px;
  outline: none;
}

/*******************************/
/******** PRODUCTS VIEW ********/
#our-products > h2 {
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.575);
}

#products-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  margin: auto;
  width: 80%;
}

.each-item {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: center;
  margin: 28px 28px;
  box-shadow: 3px 3px 8px rgba(22, 22, 22, 0.116);
  padding: 12px 0px;
}

.each-item:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}

#products-wrapper > a > span > a > h3 {
  color: black;
  font-family: verdana;
  font-weight: normal;
}

#products-wrapper > a > span > p {
  color: rgb(32, 32, 32);
  font-size: 0.8em;
}

#products-wrapper > a > span > .inventory {
  color: rgb(120, 119, 119);
  font-size: 0.8em;
}

#products-wrapper > a > span > .inventory-red {
  color: rgb(255, 0, 0);
  font-size: 0.7em;
  font-weight: bold;
}
/**********************************/
/******** SINGLE ITEM VIEW ********/
#single-item-page {
  padding: 0% 5%;
  padding-top: 2%;
}

#single-item-wrapper > h1 {
  font-weight: normal;
  display: inline;
  font-size: 45px;
}

.single-item-price {
  color: rgb(125, 125, 125);
  font-size: 23px;
  margin-bottom: 8px;
}

#single-item-page > div.single-item-container > span > img {
  width: 15vw;
  float: right;
  margin-top: 8px;
}

#single-item-page > div.single-item-container > span > img:hover {
  width: 25vw;
}

.item-description {
  float: left;
  width: 45vw;
  font-size: 12px;
  font-weight: lighter;
}

.add-to-cart {
  float: right;
}

.add-to-cart > * {
  margin: 25px 10px;
}

.add-to-cart > button {
  border-radius: 12px;
  border: 0.5px solid black;
  background-color: dodgerblue;
  color: white;
  height: 25px;
  font-weight: lighter;
  font-size: 10px;
  outline: none;
}

.add-to-cart > button:hover {
  background-color: rgb(66, 159, 252);
}

.add-to-cart > button:active {
  background-color: dodgerblue;
}

/****************************/
/******** ADMIN VIEW ********/
.profile > h3 {
  display: flex;
  flex-direction: column;
  margin-left: 10;
  align-items: center;
  font-size: 18;
}
.profile > h4 {
  display: flex;
  flex-direction: column;
  margin-left: 5;
  align-items: center;
  font-size: 10;
}

/***********************************/
/******** LANDING PAGE VIEW ********/

.jumbo1 {
  background-size: cover;
  color: #ccc;
  height: 600px;
  position: relative;
  z-index: -2;
}
.jumbo1 > div {
  display: flex;
  flex-direction: column;
  margin-left: 10;
  padding-bottom: 10;
  align-items: center;
}
.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.overlay > h1 {
  display: flex;
  flex-direction: column;
  margin-top: 10;
  margin-left: 10;
  align-items: center;
}
.overlay > p {
  margin-left: 10;
  margin-right: 10;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10;
  align-content: center;
  align-items: center;

/*************************************/
/********  SHOPPING CART VIEW ********/
#cart-view-wrapper {
  text-align: center;
}

#cart-view-total {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 43px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-bottom: 2px solid rgba(161, 161, 161, 0.466);
}

#cart-view-total > * {
  font-weight: lighter;
}

#list-container {
  margin-top: 60px;
}

#cart-item-list > * {
  z-index: -1;
}

#cart-item-list > div > div > span > a > h3 {
  color: black;
  font-weight: normal;
  font-family: helvetica;
}

#cart-item-list > div > div > span > a > .item-image {
  width: 58px;
}

.each-cart-item {
  padding-top: 20px;
  width: 30%;
  margin: 0 auto;
}

.each-cart-item > span > a > h3 {
  text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.432);
}

.each-cart-item:hover {
  box-shadow: 2px 2px 5px gray;
}

.item-price {
  color: grey;
  padding: 8px 0px;
  display: block;
}

#checkout-button {
  outline: none;
  padding: 8px 28px;
  background-color: dodgerblue;
  color: white;
  border-radius: 12px;
  border: 0.5px solid black;
  font-weight: lighter;
  position: fixed;
  right: 25px;
  top: 128px;
  z-index: 1;
  box-shadow: 3px 3px 5px gray;
}

#checkout-button:hover {
  background-color: rgb(66, 159, 252);
}

#checkout-button:active {
  background-color: dodgerblue;
}

#list-container > div > form > button {
  background-color: transparent;
  outline: none;
  padding: 2px 8px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: none;
  font-weight: lighter;
  font-size: 10px;
  margin: 10px 0;
}

#list-container > div > form > button:hover {
  background-color: transparent;
  border: 0.5px solid gray;
}

#list-container > div > form > button:active {
  background-color: transparent;
  border: 2px solid gray;
}

.quantity-container > label > input {
  margin: 8px 0px;
  width: 30px;
  font-size: 10px;
}

.quantity-container > label {
  font-size: 11px;
  font-family: helvetica;
}

#empty-cart {
  margin-top: 46vh;
  color: rgba(125, 125, 125, 0.24);
  font-size: 50px;
}

#loading {
  margin-top: 46vh;
  color: rgba(125, 125, 125, 0.24);
  font-size: 50px;
}

/*******************************/
/*********  ADMIN VIEW *********/
/* add product | edit product  */
#add-product {
  background-color: dodgerblue;
  color: white;
  padding: 5px 18px;
  border-radius: 12px;
  position: fixed;
  top: 70px;
  left: 30px;
  box-shadow: 2px 2px 3px gray;
}

#add-product:active {
  box-shadow: none;
  background-color: dodgerblue;
}

#add-product:hover {
  background-color: rgb(66, 159, 252);
}

#edit-product-form {
  position: fixed;
  bottom: 50px;
}

#edit-product-form > label {
  display: none;
}

#edit-product-form > input {
  display: block;
  margin: 5px 0px;
  padding: 3px 8px;
  border-radius: 8px;
  border: 1px solid gray;
}

#update-description {
  height: 50px;
  width: 200px;
}

#update-product-button {
  outline: none;
  border: 2px solid green;
  color: green;
  background-color: white;
  border-radius: 8px;
  padding: 3px 8px;
  margin-top: 8px;
}

#update-product-button:hover {
  box-shadow: 3px 3px 5px gray;
}

#update-product-button:active {
  box-shadow: none;
}

#delete-product-permanently {
  position: fixed;
  bottom: 30px;
  right: 30px;
  outline: none;
  border: 2px solid red;
  color: red;
  background-color: white;
  border-radius: 8px;
  padding: 3px 8px;
}

#delete-product-permanently:hover {
  box-shadow: 3px 3px 5px gray;
}

#delete-product-permanently:active {
  box-shadow: none;
}

/***************************/
/*********  FOOTER *********/
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: rgb(208, 208, 208);
  width: 100%;
  font-size: 8px;
}

footer > p {
  margin: 2px 0px;
}

body > footer > p:nth-child(1) {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 10px;
}

body > footer > p:nth-child(3) {
  margin-bottom: 5px;
  font-size: 9px;
}
